*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.my_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-left: 120px;
    margin-right: 120px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    font-size: 18px;
    color: rgba(33,31,39,.7);
    text-decoration: none;
    margin-left: 30px;
    transition: all 0.3s;
}
.menu a:hover{
    color: #6851ff;
}
.menu .divider{
    margin-left: 35px;
    
    border-left: 1px solid rgba(33,31,39,.5);
    height: 26px;
}
.mobile{
    display: none;
}
.home{
    margin: 110px;
    display: flex;
    justify-content: space-between;
    
}
.home_content{
    width: 40%;
}
.home_content h1{
    line-height: 1.3em;
    font-size: 3.75em;
    letter-spacing: 1px;
    font-weight: 700;
}
.home_content h2{
    color: #545454;
    font-weight: 500;
    font-size: 20px;
    padding: 3vh 2vw 0 3px;
    line-height: 1.5;
}
.home_content a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    background: #6851ff;
    width: 45%;
    border-radius: 7px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 40px;
    transform: scale(1);
    transition: all 0.3s;
}
.home_content a:hover{
    transform: scale(1.05);
    background: #7560ff;
}
.home_content .start img{
    margin-left: 8px;
}
.home_image{
    width: 50%;
    position: relative;
}
.home_image img{
    width: 90%;
    position: relative;
    z-index: 1;
}
.anim1{
    z-index: 0;
}
.anim1 .anim_elem{
    background: linear-gradient(90deg,#00c988 -11.64%,#6851ff 112.26%);
    position: absolute;
    opacity: .3;
}
@keyframes block1{
    0%{
        left: 25%;
    }
    50%{
        left: 60%;
    }
    100%{
        left: 25%;
    }
}
@keyframes block2{
    0%{
        right: 12%;
    }
    50%{
        right: 30%;
    }
    100%{
        right: 12%;
    }
}

@keyframes block3{
    0%{
        left: 15%;
    }
    50%{
        left: 70%;
    }
    100%{
        left: 15%;
    }
}
@keyframes block4{
    0%{
        right: 10%;
    }
    50%{
        right: 80%;
    }
    100%{
        right: 10%;
    }
}
@keyframes block5{
    0%{
        right: 0%;
    }
    50%{
        right: 40%;
    }
    100%{
        right: 0%;
    }
}
@keyframes block6{
    0%{
        left: 0%;
    }
    50%{
        left: 67%;
    }
    100%{
        left: 0%;
    }
}
@keyframes block7{
    0%{
        left: 45%;
    }
    50%{
        left: 73%;
    }
    100%{
        left: 45%;
    }
}
@keyframes block8{
    0%{
        right: 10%;
    }
    50%{
        right: 85%;
    }
    100%{
        right: 10%;
    }
}
.anim1 .anim_elem:first-child{
    top: -2%;
    left: 25%;
    height: 2%;
    width: 160px;
    animation: block1 16s infinite;
}

.anim1 .anim_elem:nth-child(2){
    top: 3%;
    right: 12%;
    height: 4%;
    width: 100px;
    animation: block2 16s infinite;
}
.anim1 .anim_elem:nth-child(3){
    top: 15%;
    left: 15%;
    height: 3%;
    width: 160px;
    animation: block3 16s infinite;
}
.anim1 .anim_elem:nth-child(4){
    top: 30%;
    right: 10%;
    height: 8%;
    width: 160px;
    animation: block4 16s infinite;
}
.anim1 .anim_elem:nth-child(5){
    top: 50%;
    right: 0;
    height: 1.5%;
    width: 160px;
    animation: block5 16s infinite;
}
.anim1 .anim_elem:nth-child(6){
    top: 60%;
    left: 0;
    height: 2.5%;
    width: 160px;
    animation: block6 16s infinite;
}
.anim1 .anim_elem:nth-child(7){
    top: 65%;
    left: 45%;
    height: 4%;
    width: 160px;
    animation: block7 16s infinite;
}
.anim1 .anim_elem:nth-child(8){
    bottom: 15%;
    right: 10%;
    height: 2%;
    width: 180px;
    animation: block8 16s infinite;
}
.partners{
    margin-top: 50px;
    /*margin-bottom: 50px;*/
}
.partner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: relative;
    z-index: 0;
}
.partner-text{
    width: 40%;
    padding-left: 6%;
    position: relative;
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 50px;
}
.partner-text .overline{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 10px;
}
.partner-text h1{
    color: white;
    margin: 0;
    display: inline-block;
    font-size: 46px;
    line-height: 56px;
}
.partner-content::before{
    content: "";
    background-color: #fff;
    width: 100%;
    height: 33%;
    position: absolute;
    top: -1px;
    right: 0;
    z-index: -1;
}
.partner-content::after{
    content: "";
    background-color: #6851ff;
    width: 52%;
    height: 95%;
    position: absolute;
    top: 0;
    border-radius: 0 0 600px 0;
}
.partner-logo .row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /*margin-left: 5%;*/
}
.partner-logo .row2{
    margin-top: 90px;
}
.row3{
    margin-left: 9%;
}
.row1 a{
    width: 15%;
    min-width: 140px;
    text-decoration: none;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
    z-index: 2;
    margin-right: 2%;
    margin-bottom: 50px;
    height: 190px;
    display: flex;
    flex-direction: column;
}
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    height: 100px;
}
.logo_link h2{
    font-size: 18px;
    color: #000;
    text-align: center;
}
.logo_link p{
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
}

.cent{
    width: 25%;
}
.token{
    width: 22%;
}
.uni{
    width: 30%;
}
.open{
    width: 38%;
}
.delta{
    width: 50%;
}
.pool{
    width: 35%;
}
.partner-logo .companies{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 30px;
    padding-top: 2%;
    margin-left: -26%;

    color: #6851ff;
    text-decoration: none;
    transition: all 0.3s;
}
.companies img{
    margin-left: 4px;
}
.partner-logo .companies:hover{
    color: #9484ff;
}
.feature{
    background-color: black;
}
.feature-head h2{
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
    padding-top: 150px;
    text-align: center;
    margin-bottom: 15px;
}
.feature-head h1{
    font-size: 46px;
    letter-spacing: 1px;
    line-height: 1.2;
    color: white;
    text-align: center;
}
.feature-row1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 100px;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    margin-right: 100px;
}
.feature-card{
    width: 35%;
    padding: 1% 5%;
}
.feature-card h2{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-bottom: 10px;
}
.feature-card p{
    color: #757575;
    font-size: 18px;
    line-height: 26px;
    margin-top: 10px;
}
.feature-card:first-child{
    border-right: 1px solid #212121;
}
.feature-card:nth-child(2){
    border-right: 1px solid #212121;
}
.feature-row1:nth-child(3){
    padding-bottom: 100px;
}
.testimonial{
    background-color: white;
    position: relative;
}
.test-head{
    margin-left: 600px;
    margin-bottom: 110px;
}
.test-head h1{
    font-size: 46px;
    letter-spacing: 1px;
    /*margin-bottom: 90px;*/
    line-height: 1.2;
}
.test-content{
    padding-top: 90px;
}
.testimonial::after{
    content: "";
    background-color: #00c988;
    width: 30%;
    height: 110%;
    border-radius: 0 0 600px 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
.test-row{
    display: flex;
    /*justify-content: space-between;
    align-items: center;*/
    flex-direction: row;
    position: relative;
    z-index: 2;
    margin-left: 100px;
}
.test-pic{
    width: 30%;
    margin-right: 5%;
}
.test-pic img{
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px 40px rgb(0 0 0 / 15%);
}
.test-dialogue{
    width: 50%;
}
.test-dialogue img{
    max-height: 60px;
}
.test-dialogue .quote{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 30px;
}
.test-dialogue .highlight{
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#c9fcd8 0);
}
.test-dialogue .author{
    color: #757575;
    font-size: 16px;
    margin-top: 25px;
}
.test-row:nth-child(2){
    margin-bottom: 110px;
}
.test-row:nth-child(3){
    margin-bottom: 110px;
}
.investors{
    margin-top: 250px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 100px;
}
.invest-head h2{
    font-size: 46px;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2vh;
    text-align: center;
}
.invest-head p{
    font-size: 24px;
    color: #545454;
    
    margin-bottom: 5%;
    text-align: center;
}
.in-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
.angels img{
    max-width: 100px;
    margin-right: 25px;
}
.angels{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(0);
    transition: all 0.3s;
}
.angels:hover{
    transform: translateY(-10px);
}
.in-link{
    text-decoration: none;
    transform: translateY(0);
    transition: all 0.3s;
}
.in-link:hover{
    transform: translateY(-10px);

}
.info h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #000;
}
.info p{
    font-size: 18px;
    color: #000;
}
.in-row:nth-child(3){
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.team{
    background-color: black;
    padding: 80px 6% 120px;
}
.team h1{
    font-size: 46px;
    line-height: 64px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.team .label{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    background-color: #00c988;
    border-radius: 4px;
    margin-left: 25px;
    padding: 8px 15px;
    line-height: 1.4;
    position: absolute;
    top: 5px;
    animation: floating 3s linear infinite;
    transition: all 0.3s;
}
@keyframes floating{
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(5px);
    }
}
.team .label::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #00c988 transparent transparent;
    top: 8px;
    left: -20px;
    transition: all 0.3s;
}
.label:hover{
    background-color: #5feea4;
}
.label:hover::before{
    border-color: transparent #5feea4 transparent transparent;
}
.team p{
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 70px;
}
.team-row{
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 40px;
}
.team-row .comp{
    width: 13%;
    background-color: white;
    border-radius: 7px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-row .comp img{
    max-width: 60%;
    max-height: 60%;
    margin: auto;
}
.team-row .comp:nth-child(2n){
    animation: distract 2.5s ease-out;
    margin-top: 90px;
}
@keyframes distract{
    0%{
        margin-top: 0;
    }
    50%{
        margin-top: 0;
    }
    100%{
        margin-top: 90px;
    }
}
.widget{
    background-color: #00ac85;
    padding: 70px;
}
.widget h1{
    font-size: 46px;
    line-height: 1.2;
    margin-bottom: 2%;
    color: white;
    text-align: center;
}
.widget h2{
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.widget .img-holder{
    display: flex;
    justify-content: center;
}
.widget .img-holder img{
    width: 50%;
}
.widget .widget-button{
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    margin: auto;
    height: 60px;
    text-decoration: none;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 20%);
    margin-top: 4%;
    transform: scale(1);
    transition: all 0.3s;
}
.widget-button h2{
    color: #6851ff;
}
.widget-button img{
    margin-left: 10px;
}
.widget-button:hover{
    transform: scale(1.05);
}
.footer{
    padding: 100px;
    padding-left: 125px;
}
.footer-holder{
    display: flex;
    justify-content: space-between;

}
.footer-img{
    width: 30%;
}
.footer-info{
    width: 60%;
    display: flex;
    justify-content: center;
}
.col1 h2{
    margin: 14px 0 25px;
    
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.footer .footer-content{
    color: #757575;
    text-decoration: none;
    line-height: 30px;
    font-weight: 500;
    font-size: 18px;
    transition: all .2s;
    cursor: pointer;
}
.footer-info .col1:first-child{
    margin-right: 100px;
}
.footer-info .col1:nth-child(2){
    margin-right: 100px;
}
.footer-content:hover{
    color: #6851ff;
}
.footer p{
    margin-top: 90px;
    font-size: 19px;
    margin-bottom: 17px;
    color: #757575;
}  
.footer .last{
    text-decoration: none;
    line-height: 30px;
    font-weight: 500;
    color: #6851ff;
    font-size: 18px;
    margin-top: 10px;
}
@media (max-width:1200px){
    .my_nav{
        margin-left: 60px;
    margin-right: 60px;
    }
    .menu a{
        font-size: 15px;
    }
    .home_content a{
        width: 54%;
    }
    .home_image img{
        width: 100%;
    }
    .partner-content{
        flex-wrap: wrap;
    }
    .partner-text{
        width: 95%;
    }
    .partner-logo .row1{
        overflow: visible;
    }
    .partner-content::after{
        height: 80%;
    }
    .partner-content::before{
        content: none;
    }
    .partner-text{
        padding-top: 50px;
        
    }
    .partner-text .overline{
    
            font: size 14px;
            
        }
        .partner-text h1{
            font-size: 40px;
        }
    .partner-logo .row2{
        margin-top: 0px;
    margin-left: 7%;
    margin-right: 7%;
    }
    .partner-logo .row3{
        margin-left: 7%;
    margin-right: 7%;
    }
    .partner-logo .companies{
        float: left;
        margin-left: 7%;
    }
    .test-head{
        margin-left: 40%;
    }
    .in-row{
        flex-wrap: wrap;
    }
    .investors{
        margin-left: 100px;
    margin-right: 100px;}
    .in-link{
        margin-bottom: 5%;
        width: 25%;
    }
    .in-link img{
        width: 100%;
    }
    .angels{
        margin-bottom: 5%;
    }
    .widget .widget-button{
        width: 18%;
    }
}
@media (max-width:1024px){
    .my_nav{
        position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 3999;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0px;
    }
    .home{
        flex-wrap: wrap;
    }
    .home_content{
        width: 95%;
    }
    .home_content h1{
        text-align: center;
    }
    .home_content h2{
        text-align: center;
    }
    .home_content a{
        margin: auto;
    margin-top: 50px;
    }
    .home_image{
        margin: auto;
    margin-top: 60px;
    width: 80%;
    }

    .mobile{
        display: block;
    }
    .menu{
        display: none;
    }
    .nav-menu{
        background: #fff;
    outline: none;
    border: 0;
    font-size: 19px;
    cursor: pointer;
    }
    .nav-menu img{
        width: 19px;
    padding-right: 5px;
    }
    .row1 a{
        min-width: 130px;
        height: 180px;
    }
    .partner-logo .row1{
        margin-left: 4%;
    margin-right: 4%;
    }
    .partner-content{
        overflow: hidden;
    }
    .feature-row1{
        margin-left: 65px;
        margin-right: 65px;
    }
    .test-row{
        margin-left: 70px;
    }
    .test-pic img{
        width: 100%;
    }
    .test-pic{
        margin-right: 8%;
    }
    .in-link{
        width: 25%;
    }
    .in-link img{
        width: 100%;
    }
    .investors{
        margin-left: 70px;
    margin-right: 70px;
    }
    .invest-head h2{
        font-size: 40px;
    }
    .invest-head p{
        font-size: 18px;
    }
    .angels img{
        max-width: 90px;
    }
    .info h2{
        font-size: 18px;
    }
    .info p{
        font-size: 16px;
    }
    .team-row .comp img{
        max-width: 70%;
    max-height: 70%;
    }
    .widget .img-holder img{
        width: 90%;
    }
    .widget .widget-button{
        width: 25%;
    }
    .footer{
        padding: 50px;
    }
    .footer-info .col1:first-child {
        margin-right: 60px;
    }
    .col1 h2{
        font-size: 16px;
    }
    .footer .footer-content{
        font-size: 16px;
    }
    .footer-info .col1:nth-child(2){
        margin-right: 60px;
    }
    .footer p{
        font-size: 17px;
    }
    .footer .last{
        font-size: 16px;
    }
}
@media (max-width:768px){
    .my_nav{
        margin: 0px;
        padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 30px;
    padding-right: 25px;
    }
    .home{
        margin-left: 50px;
    margin-right: 50px;
    }
    .home_image{
        width: 85%;
    }
    .partner-text h1{
        font-size: 35px;
    }
    .row1 a{
        min-width: 115px;
    height: 160px;
    }
    .logo-img{
        margin-top: 35px;
        height: 85px;
    }
    .logo_link h2{
        font-size: 16px;
    }
    .logo_link p{
        font-size: 13px;
    }
    .partner-text{
        padding-bottom: 35px;
    }
    .partner-content::after{
        height: 75%;
    }
    .partner-logo .companies{
        margin-left: 5%;
    }
    .in-link {
        width: 45%;
    }
    .team-row{
        flex-wrap: wrap;
    }
    .team-row .comp{
        width: 40%;
    }
    .team h1{
        font-size: 42px;
    }
    .team p{
        font-size: 17px;
    }
    .widget .img-holder img {
        width: 100%;
    }
    .widget .widget-button {
        width: 45%;
    }
    .widget h1{
        font-size: 40px;
    }
    .widget h2{
        font-size: 16px;
    }
    .footer-holder{
        flex-wrap: wrap;
    }
    .footer-img{
        width: 35%;
    }
    .footer-info{
        width: 90%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer-info .col1{
        width: 50%;
    }
    .footer-img{
        margin-bottom: 30px;
    }
    .footer-info .col1:first-child{
        margin-bottom: 20px;
    }
    .footer-info .col1:nth-child(2){
        margin-bottom: 20px;
    }
    .col1 h2{
        font-size: 18px;
    }
    .col1 a{
        font-size: 18px;
    }
    .test-head {
        margin-left: 15%;
    }
    .test-head h1{
        font-size: 40px;
    }
    .test-row {
        margin-left: 15%;
        flex-wrap: wrap;
    }
    .test-pic {
        margin-right: 8%;
        margin-bottom: 10%;
        width: 70%;
    }
    .test-dialogue {
        width: 90%;
    }
    .testimonial::after{
        width: 10%;
    height: 100%;
    }
    .feature-row1{
        flex-wrap: wrap;
    }
    .feature-card{
        width: 95%;
    }
    .feature-card:first-child {
        border-right: 0px solid #212121;
    }
    .feature-card:nth-child(2) {
        border-right: 0px solid #212121;
    }
    .feature-card:first-child{
        margin-bottom: 40px;
    }
    .feature-card:nth-child(2){
        margin-bottom: 40px;
    }
    .feature-row1:nth-child(3){
        margin-top: 40px;
    }
    .feature-head h1 {
        font-size: 40px;
    }
}
@media (max-width:481px){
    .my_nav {
        margin: 0px;
        
        padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    }
    .company_info .logo{
        width: 75%;
    }
    .nav-menu{
        font-size: 17px;
    }
    .nav-menu img {
        width: 17px;
    }
    .home {
        margin-left: 25px;
        margin-right: 25px;
        justify-content: center;
    }
    .home_content h1{
        font-size: 2.75em;

    }
    .home_content h2{
        font-size: 16px;
    }
    .home_content a {
        width: 70%;
        font-size: 18px;
    }
    @keyframes block7{
        0% {
            left: 0%;
        }
        50% {
            left: 35%;
        }
        100% {
            left: 0%;
        }
    }
    @keyframes block6{
        0% {
            left: 0%;
        }
        50% {
            left: 25%;
        }
        100% {
            left: 0%;
        }
    }
    @keyframes block1{
        0% {
            left: 25%;
        }
        50% {
            left: 0%;
        }
        100% {
            left: 25%;
        }
    }
    @keyframes block3{
        0% {
            left: 15%;
        }
        50% {
            left: 37%;
        }
        100% {
            left: 15%;
        }

    }
    .partner-text .overline{
        font-size: 14px;
    }
    .partner-text h1 {
        font-size: 30px;
    }
    .row1 a {
        min-width: 107px;
        height: 150px;
    }
    .logo_link h2 {
        font-size: 15px;
    }
    .logo_link p {
        font-size: 12px;
    }
    .feature-head h2{
        font-size: 14px;
    }
    .feature-head h1 {
        font-size: 33px;
    }
    .feature-row1 {
        margin-left: 50px;
        margin-right: 50px;
    }
    .feature-row1{
        justify-content: center;
    }
    .investors {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 150px;
    }
    .invest-head h2 {
        font-size: 35px;
    }
    .invest-head p {
        font-size: 16px;
    }
    .in-link {
        width: 70%;
    }
    .in-row:first-child{
        margin-top: 30px;
        margin-bottom: 5%;
    }
    .angels img {
        max-width: 75px;
    }
    .angels:first-child{
        margin-bottom: 9%;
    }
    .angels:nth-child(2){
        margin-bottom: 9%;
    }
    .widget{
        padding-left: 50px;
    padding-right: 50px;
    }
    .widget h1 {
        font-size: 35px;
    }
    .widget h2 {
        font-size: 14px;
    }
    .widget .widget-button {
        width: 61%;
    }
    .widget h2 {
        font-size: 15px;
        margin-top: 20px;
    margin-bottom: 20px;
    }
    .widget .widget-button{
        margin-top: 8%;
    }
    .footer{
        padding-left: 30px;
    }

}